/*  your css code here. If applicable */
#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.grid-item {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 1px solid black;
}

#color-form {
  margin-bottom: 20px;
}

#change_button,
#reset_button {
  margin-right: 10px;
}
